@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    background-color: #DCBEE8;
}

/* header */
h1 {
    font-family: 'Inter', sans-serif;
    margin: 0;
    text-transform: uppercase;
    color: #000000;
    font-size: 60px;
    line-height: 79px;
}

.made-by,
a {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
    flex-grow: 1;
    margin: 0;
    padding-top: 3px;
}

.made-by {
    font-size: 12px;
    text-align: center;
    border-bottom: 2px black solid;
    width: 100%;
    background-color: #F0893E;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 3px black solid;
}

.item-1 {
    flex-grow: 8;
    border-right: 3px solid black;
    text-align: center;
    align-self: center;
}

.nav {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    width: 100%;
    background-color: white;
}

/* main section */
.main-container {
    display: flex;
    flex-direction: row;
    height: 669px;
}

/* options */
.option-container {
    display: flex;
    flex-direction: column;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    flex-grow: 2;
}

.option-item {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    height: 223px;
}

.option-item div:hover{
    cursor: pointer;
    transform: scale(1.5);
}

.mono {
    background-color: white;
    border-bottom: 3px solid black;
}

.poly {
    background-color:#F0893E;
    color: white;
    border-bottom: 3px solid black;
}

/* canvas */
.canvas-container {
    flex-grow: 6;
    margin: 30px;
}

/* save and share */
.save-container {
    flex-grow: 0.7;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}

.save-item {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    border: 2px solid black;
    border-radius: 150.043px;
    height: 299.03px;
    width: 150px;
    background-color:#F0893E;
    color: white;
}

.save-item div:hover{
    cursor: pointer;
    color: black;
}